body {
  font-family: Montserrat;
  font-weight: 500;
  background-image: linear-gradient(to right, #e06060, #0a35aa);
  padding: 7px 2px 3px 2px;
  width: auto;
  border-radius: 2.5ex;
  border: 3px solid #7585dd;
  margin-bottom: 5px;
}

p {
  margin-left: 1%;
  font-weight: 600;
}

h1 {
  margin-left: 1%;
}
