/* Username coloring for staff */
@import url('/MediaWiki:UsernameColoring.css?ctype=text/css&action=raw');
.css

/* Background Image */
.mediawiki {
  background: url('https://static.wikia.nocookie.net/sakura-stand/images/e/ee/Site_Background_upscaled.png');
  background-attachment: fixed;
  background-size: cover;
}

/* Wiki Styling */
/** Page Transparency **/
.theme-fandomdesktop-dark .page__main {
  background-color: rgba(var(--theme-page-background-color--rgb), 0.5);
  backdrop-filter: blur(2px);
}
/** Fix margins **/
.page-content ul ol {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* Formatted with Prettier */
