@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Montserrat;
  background-image: radial-gradient(
    circle 975px at 2.6% 48.3%,
    rgb(28, 37, 163) 0%,
    rgba(95, 184, 224, 1) 99.7%
  );
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
}
