* {
  font-family: Montserrat;
}

body {
  background-image: linear-gradient(to right, #36d1dc, #5b86e5);
  font-weight: normal;
  padding: 7px 2px 3px 2px;
  width: auto;
  /* border-radius: 2.5ex;
  border: 3px solid #7585dd; */
  margin-bottom: 5px;
}

a {
  color: #001868;
  font-weight: bold;
}

h1 {
  margin-left: 1%;
}

ul {
  margin-left: 1%;
}

.bold {
  font-weight: bold;
}
